<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @book_by_provider.date %>
</p>

<%= link_to 'Edit', edit_book_by_provider_path(@book_by_provider) %> |
<%= link_to 'Back', book_by_providers_path %>
