

<div class="row">
  <div class="col-xs-6"> <div id="avatar" class="gri">
    <img src="../images/nyky.jpg"height="189" width="138px">
  </div>
<div>
    <h3 id="fullname" class="grid_6 page-heading">Baktybek Uulu Nursultan</h3>



    <h5 id="postion">Department:  Computer Of Science</h5>

    <div id="contacts" class="m-top">

      <div id="phone">
        <p><img src="../images/phone.png"> +996 551 777 173</p>
      </div>

      <div id="mail">
        <a href="mailto:nursultan.baktybekuulu@iaau.edu.kg"><img src="../images/mail.png"> nurlan.baktybekuulu@iaau.edu.kg</a>
      </div>

      <div class="clear"></div>
      </div>

      <!-- Biography -->
      <div id="bio" class="grid_8 m-top p-top">
        <!--Biography-->
        <h4>Biography</h4>
        <p>Study in <a href="http://iaau.edu.kg" target="_blank">International Ataturk Alatoo University</a>.</p>


      </div>
    </div></div>
  <div class="col-xs-6"> <div id="avatar" class="gri">
    <img src="../images/nyky.jpg"height="189" width="138px">
  </div>

    <h3 id="fullname" class="grid_6 page-heading">Baktybek Uulu Nursultan</h3>



    <h5 id="postion">Department:  Computer Of Science</h5>

    <div id="contacts" class="m-top">

      <div id="phone">
        <p><img src="../images/phone.png"> +996 551 777 173</p>
      </div>

      <div id="mail">
        <a href="mailto:nursultan.baktybekuulu@iaau.edu.kg"><img src="../images/mail.png"> nurlan.baktybekuulu@iaau.edu.kg</a>
      </div>

      <div class="clear"></div>

      <!-- Biography -->
      <div id="bio" class="grid_8 m-top p-top">
        <!--Biography-->
        <h4>Biography</h4>
        <p>Study in <a href="http://iaau.edu.kg" target="_blank">International Ataturk Alatoo University</a>.</p>


      </div>
    </div></div>
</div>


