<td class="col1 cell" bgcolor="#ffffff">

  <table class="table" id="table-text" align="center" width="90%">
    <tbody><tr><td>

      <h3>How far does library management theory go back?</h3>
      <p class="noindent">Library management development goes back a long way.</p>

      <p>As early as 1887, F. M. Cruden, then librarian of the St. Loius Public Library, argued that:</p>

      <blockquote><p class="noindent">"...the duties of a chief executive of a library differ in no essential way from those of a manager of a stock company...the librarian may profit by the methods of the businessman." (1)</p></blockquote>

      <p>In an address to the New Zealand Library Association, Arthur E. Bostwick advocated in 1911 the adoption of management principles in the effective operation of the library. (2)</p>

      <p>But it was not until the 1930s that people in the US began to pay closer attention to the application of scientific management to libraries. And certainly after the end of World War II did management theory become the norm for US library administrators.</p>

      <p>Of the more important papers writing about library management, J. Periam Danton wrote an article for the January 1934 edition of <u>Library Quarterly</u> discussing the importance of analyzing the human side, where "personnel administration" became crucial to the democratisation of the library. (3)</p>

      <p>In a 1953 paper by Amy Winslow, an emphasis on staff participation in "democratic organisations" was considered important. (4)</p>

      <p>And an article published in the 1971 issue of Library Trends reveal some other "cutting edge" library management thinking at the time; in this case with respect to the dilemma of:</p>

      <blockquote><p class="noindent">"How we can optimally integrate the technical and human resources that we manage toward achieving the library's service mission and, at the same time, manage working arrangements and role relationships so that people's needs for self-worth, growth, and development are significantly met in our libraries." (5)</p></blockquote>

      <p>Then issues of effective resource allocation and accountability in libraries appeared in prestigious library journals. For example, the following publication of a 1975 article entitled <i>Effective resource allocation in library management</i> by H. William Axford appeared in the highly reputable journal of <u>Library Trends</u>. (6)</p>

      <p>Library networking became the next buzzword for library administrators in the early 1980s with such books as:</p>

      <ol><li>Kent, Allen &amp; Galvin, Thomas J. (eds.) 1979, <u>The structure and governance of library networks</u>. New York: Marcel Dekker; and</li>

        <li>Markuson, Barbara E. &amp; Woolls, Blanche (eds.) 1980, <u>Networks for networkers: Critical issues in cooperative library development</u>. New York: Neal-Schuman.</li>
      </ol>

      <p>And of course there are gender differences in top management positions (a previously male-dominated profession) and library staff (a mostly women-dominated profession) which took on greater rigor in the 1990s as people started to understand the importance of equality for men and women in the workplace.</p>

      <p>Today, the modern principles of management theory (scientific management, human relations and quantitative) in a library context are no different from other organisational management.</p>

      <p>In fact, the theory is being applied to library operations today more so than ever before following the rapid development of new technologies such as the computer and internet, less government funding, fewer library staff, and greater demands for a wide range of changeable information from journals and magazines from the library user.</p>

      <p>As Stueart and Eastlick said:</p>

      <blockquote><p class="noindent">"The continued use, development, and refinement of those thoughts and techniques [in library management] will result in more efficient and effective library service." (7)</p></blockquote>

      <h3>Are we emphasising too much library management theory?</h3>
      <p class="noindent">Nevertheless, will such emphasis on management practices in the library be necessary once users become their own librarians finding information on the internet? When Google is able to translate online information into different languages, find e-books and other information quickly and present summarised results into a fairly readable fashion, how much managing would be necessary in a library if people decide to no longer go to a library? Eventually people will have to self-manage their own work and the resources they can apply to finding information in their own time.</p>

      <p>Perhaps library management practices will evolve into nothing more than an IT department running a bunch of servers for storing and presenting information on the internet.</p>

      <p>If the resources for running libraries should dwindle even further, people might be better off visiting a local Church, at home or a nearby park or countryside to find a quiet spot to read an e-book and not be bothered with going to libraries. Who needs them?</p>

      <hr>

      <p><br><br><br></p>
      <ol class="smalltext"><li><p class="noindent">
        Gertrude 1924, pp.83-84.; Stueart &amp; Eastlick 1981, p.182.</p></li>

        <li><p class="noindent">Arthur 1911, pp.275-278.</p></li>

        <li><p class="noindent">Danton 1934, pp.16-27.</p></li>

        <li><p class="noindent">Winslow 1953, pp.624-628.</p></li>

        <li><p class="noindent">Stone 1971, p.3.</p></li>

        <li><p class="noindent">Axford 1975, pp.547-572.</p></li>

        <li><p class="noindent">Stueart &amp; Eastlick 1981, p.184.</p></li></ol>

    </td></tr>
    </tbody></table>

</td>