

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">

<head></head>
<body>
<div id="container">
  <div id="wrap-header">
    <div id="header" class="container_16"></div>
  </div>
  <div id="wrap-nav"></div>
  <div id="wrap-content">
    <div id="content" class="container_16">
      <div class="container_16">
        <div class="grid_16">
          <h3 class="page-heading" style="margin-left:10px; color:#676767;">How to find us?</h3>
          <div style="height:1px; background:#676767; border-bottom:1px solid #676767;"></div>
          <div class="line clear"></div>
          <div class="page-content">
            <p>
              <a target="_blank" href="https://www.google.com/maps/place/%D0%9C%D0%B5%D0%B6%D0%B4%D1%83%D0%BD%D0%B0%D1%80%D0%BE%D0%B4%D0%BD%D1%8B%D0%B9+%D1%83%D0%BD%D0%B8%D0%B2%D0%B5%D1%80%D1%81%D0%B8%D1%82%D0%B5%D1%82+%D0%90%D1%82%D0%B0%D1%82%D1%8E%D1%80%D0%BA+%D0%90%D0%BB%D0%B0-%D0%A2%D0%BE%D0%BE/@42.8569654,74.6790072,17z/data=!4m2!3m1!1s0x389eb6c95311ea6b:0x7023946675e4c5a9">
                <img alt="MapMap" src="http://iaau.edu.kg/image?img=image_karta_8016442713758413155.png" style="border-style:solid; border-width:1px; float:left; height:300px; margin:10px; width:390px">
              </a>
            </p>
            <p style="margin-left:360px;">
              </br>
                                        <span style="font-family:georgia,serif; color:#676767;margin-top:110px;">
                                            <span style="font-size:14px; color:#676767;">

                                                International Ataturk Alatoo University, Ankara Street 1/8, Tunguch, 720048
                                              </br>

                                                Bishkek, Kyrgyz Republic

                                            </span>
                                        </span>
            </p>
            <p style="margin-left:360px">
            </p>
            <p style="margin-left:360px">
            </p>
            <p style="margin-left:360px">
              <br>
              </br>
                                        <span style="font-family:georgia,serif; color:#676767;">
                                            <span style="font-size:14px; color:#676767;">

                                                Tel: +996 (312) 631425

                                            </span>
                                        </span>
            </p>

            <p style="margin-left:360px">
                                        <span style="font-family:georgia,serif; color:#676767;">
                                            <span style="font-size:14px; color:#676767;">

                                                Fax: +996(312) 630409

                                            </span>
                                        </span>
            </p>
            <p style="margin-left:360px">
                                        <span style="font-family:georgia,serif; color:#676767;">
                                            <span style="font-size:14px; color:#676767;">

                                                E-mail:info@iaau.edu.kg

                                                <a style="margin: 0px; padding: 0px; border: 0px; outline: none; font-family:Georgia, 'Times New Roman', Times, serif; line-height: 19px;" href="mailto:info@iaau.edu.kg"></a>
                                            </span>
                                        </span>
            </p>
            <br>
            </br>
            <p style="margin-left:360px"></p>
            <p style="margin-left:360px"></p>
            <p style="margin-left:360px">
                                        <span style="font-family:georgia,serif; color:#676767;">
                                            <span style="font-size:14px; color:#676767;">

                                                Buses: 7, 29, 102, 105, 128, 137, 147, 154, 166, 2…

                                            </span>
                                        </span>
            </p>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <div id="wrap-footer"></div>
</div>
<script src="/javax.faces.resource/jquery-1.9.1.min.js.xhtml?ln=js" type="text/javascript"></script>
<script src="/javax.faces.resource/unslider.min.js.xhtml?ln=js" type="text/javascript"></script>
<script src="/javax.faces.resource/jquery.fancybox.pack.js.xhtml?ln=js" type="text/javascript"></script>
<script src="/javax.faces.resource/jquery-ui-1.10.3.custom.min.js.xhtml?ln=js" type="text/javascript"></script>
<script type="text/javascript"></script>
</body>
</html>

