<h2>Hello, world!</h2>
<div class="center jumbotron">
  <h2>You are at Contact!</h2>
  <h2>You are at Contact!</h2>
  <h2>You are at Contact!</h2>
  <h2>You are at Contact!</h2>
  <h2>You are at Contact!</h2>
</div>