@import "bootstrap-sprockets";
@import "bootstrap";
/* forms */
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}


input {
  height: auto !important;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

$navbar-inverse-bg: #2C198C;
$navbar-inverse-border: black;

// Inverse navbar

ul.dropdown-menu {
  background-color: $navbar-inverse-bg;
  border-color: $navbar-inverse-border;
}

.navbar-inverse {
  background-color: $navbar-inverse-bg;
  border-color: $navbar-inverse-border;
}
.nav.navbar-nav.navbar-right li a {
  color: #ffffff;
  font-size: 16px;
}


li.active{
  background: #7823A8 !important;
}

li > a:focus{
  background: #7823A8 !important;
}

li:hover > a{
  background: #7823A8 !important;
  color: #FFFFFF !important;
}

li > a:hover{
  color: #FFFFFF !important;
  background: #7823A8 !important;
}