@import "bootstrap-sprockets";
@import "bootstrap";
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}


input {
  height: auto !important;
  color: black;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  width: 100%;
  margin-bottom: 15px;
  border: 2px solid lightsalmon;
  .form-control {
    color: green;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

$navbar-inverse-bg: #2A282E;
$navbar-inverse-border: black;

// Inverse navbar

ul.dropdown-menu {
  background-color: $navbar-inverse-bg;
  border-color: $navbar-inverse-border;
}

.navbar-inverse {
  background-color: $navbar-inverse-bg;
  border-color: $navbar-inverse-border;
}
.nav.navbar-nav.navbar-right li a {
  color: #94968F;
  font-size: 14px;
  font-weight: normal;
}


li.active{
  background: #2A282E !important;
}

li > a:focus{
  background: #2A282E !important;
}

li:hover > a{
  background: #2A282E !important;
  color: #FFFFFF !important;
}

li > a:hover{
  color: #FFFFFF !important;
  background: #2A282E !important;
}


* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 75.6%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}
.footer, .push {
  height: 4em;
}

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}



.panel-default > .panel-heading {
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 4px 4px 0px 0px;
  border-bottom: 1px solid #0074BD;
}

.label {
  padding: 1px 3px 2px;
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

}