<p id="notice"><%= notice %></p>
<div class="col-md-6 center-block" >
<div class="panel panel-default">
<div class="panel-body">
  <p>
    <strong>Name:</strong>
    <%= @category.name %>
  </p>
</div>
</div>
<%= link_to 'Edit', edit_category_path(@category), :class => "btn btn-default" %> |
<%= link_to 'Back', categories_path, :class => "btn btn-default" %>
</div>