<h1>Editing Book In Use</h1>

<div class="col-md-6 center-block" + <%= render 'form' %>

<%= link_to 'Show', @book_in_use, :class => "btn btn-default" %> |
<%= link_to 'Back', book_in_uses_path, :class => "btn btn-default" %>
